*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


/* navbar1 */

.navbar1{
    height: 100px;
    border: none;
    background-color: rgb(9, 133, 211);
    display: flex;
}

.logo{
    background-image: url('logo.png');
    background-size: contain;
    width: 100px;
    margin-left: 50px ;
}

.nav-search{
    height: 40px;
    width: 600px;
    margin-top: 30px ;
    margin-left: 90px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(238, 116, 116);
    display:flex;
}

.options1{
    height: 40px;
    width: 40px;
    font-weight: 400;
    border: none;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

input{
    height: 39px;
    width: 100%;
    font-size: 1rem;
    border: 0.5px solid black;
    margin-top: 0px;
    margin-left: 0px;
}

#search-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

#options1{
    height: 40px;
    width: 70px;
    font-size: 18px;
    font-weight: 200;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #f3f3f3;
}

#options1:hover{
    box-shadow: 3px 3px 3px rgb(55, 54, 54);
    color: white;
    background-color: rgb(238, 116, 116) ;
}

.pages{
    height: 40px;
    width: 500px;
    font-size: 20px;
    border: none;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#Page{
    margin-top: 7px;
    transition: transform .2s;
}

#Page:hover{
    transform: scale(1.6);
}

/* navbar2 */

.navbar2{
    
    height: 110px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(238, 116, 116);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
   
}

.options2{
    height: 30px;
    width: 200px;
    color : black;
    margin-top: 17px;
    margin-left: 70px;
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    display: inline;
    justify-content: space-evenly;
    transition: transform .2s;
}

.options2:hover{
    font-size: 24px;
    box-shadow: 3px 3px 3px rgb(55, 54, 54);
    color: rgb(238, 116, 116);
    background-color: rgb(251, 251, 251) ;
    transform: scale(1.1);
}



/* main */

.banner{
    height: 400px;
    border: 5px solid rgb(238, 116, 116);
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
}

#baa{
    height: 40px;
    width: 400px;
    margin-top: 350px;
    border: 2px solid white ;
    border-radius: 10px;
    background-color: rgb(238, 116, 116);
    color: black;
    font-size: 30px;
    text-align: center;
    position: absolute;
}

h1{
    margin-left: 80px;
    margin-top: 15px;
}

.shop-sec{
    height: 250px;
    border: none;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;   
}


.shop1{
    height: 220px;
    width: 49%;
    background-color: rgb(245, 141, 141);
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 0px;
    display: flex;
    transition: transform .3s;
}

.shop1:hover{
    box-shadow: 16px 16px 16px rgb(74, 73, 73);
    transform: scale(1.07);
}

.shop2{
    height: 220px;
    width: 49%;
    background-color: rgb(245, 141, 141);
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 30px;
    display: flex;
    transition: transform .3s;
}

.shop2:hover{
    box-shadow: 16px 16px 16px rgb(74, 73, 73);
    transform: scale(1.07); 
}

#shop-img{
    height: 200px;
    width: 35%;
    border: none;
    border-radius:10px;
    margin-top: 10px;
    margin-left: 10px;
}

.shop-info{
    height: 200px;
    width: 60%;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#shop_name{
    font-size: 28px;
    font-weight: 550;
    margin-top: 25px;
    margin-left: 15px;
}

#shop_loc{
    border:none;
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
    display: flex;
    justify-content: left;
}

.services{
    height: 23px;
    width: 90%;
    border: none;
    display: flex;
    margin-top: 15px;
    margin-left: 0px;
    font-size: 18px;
}

#service{
    height: 20px;
    width: auto;
    padding: 3px;
    border: none;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 15px;
    background-color: rgb(236, 235, 235);
}

.call{
    height: 25px;
    width: 140px;
    font-size: 20px;
    color: white;
    background-color: rgb(14, 189, 52);
    border-radius: 4px;
    display: flex;
    text-align: center;
    margin-top: 3rem;
    margin-left: 15px;
}

.chat{
    height: 25px;
    width: 80px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    background-color: rgb(4, 100, 217);
    text-align: center;
    margin-top: -24.5px;
    margin-left: 180px;

}

.hp{
    height: 25px;
    width: 100px;
    font-size:5px;
    color: black;
    display: flex;
    text-align: center;
    margin-top: 3.7rem;
    margin-right: 10px;
}

/* footer */

.box1{
    height: 31px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color:  rgb(54, 49, 49);
}

.box2{
    height: 320px;
    width: 100%;
    margin-bottom: 0px;
    background-color: rgb(15, 14, 14);
    margin-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
}


.info1{
    margin-top: 20px;
    height: 260px;
    width: 21%;
    border: none;
}

#info_head{
    height: 32px;
    border: none;
    font-size: 25px;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 20px;
    color: bisque;
}
.list{
    line-height: 24px;
}

#list{
    height: 205px ;
    border: none;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 40px;
    color: white;   
}

a{
    color: white;
}

#cr-sec1{
    height: 18px;
    width: 100%;
    background-color: rgb(54, 49, 49);
    color: white;
    display: flex;
    justify-content: center;
}

#cr-sec2{
    height: 18px;
    width: 100%;
    background-color: rgb(54, 49, 49);
    color: white;
    display: flex;
    justify-content: center;
}
